<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">ac_unit</i>
                      </div>
                      <p class="card-category">Temperatura</p>
                      <h3 class="card-title">{{this.device?.temperatura}} º
                          <small>C</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                         
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-primary card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">cloud</i>
                      </div>
                      <p class="card-category">Umidade</p>
                      <h3 class="card-title">{{this.device?.umidade}}/100</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">flash_on</i>
                      </div>
                      <p class="card-category">Tensão de Entrada</p>
                      <h3 class="card-title">{{this.device?.tensaoEntrada}}
                        <small>v</small>
                      </h3>
                      
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                         
                      </div>
                  </div>
              </div>
          </div>
          <!-- <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">info_outline</i>
                      </div>
                      <p class="card-category">Fixed Issues</p>
                      <h3 class="card-title">75</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">local_offer</i> Tracked from Github
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-twitter"></i>
                      </div>
                      <p class="card-category">Followers</p>
                      <h3 class="card-title">+245</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Just Updated
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
      <div class="row">
            <div class="col-lg-8 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-tabs card-header-primary">
                                <h4 class="card-title">Estatísticas</h4>
                                <p class="card-category">Estatísticas gerais dos sensores do dispositivo {{this.device?.serial.toUpperCase()}}</p>
                        </div>
                        <div class="card-body">
                            
                                <table class="table table-hover">
                                        
                                        <tbody>
                                            <tr>
                                                <td class="text-warning">ID</td>
                                                <td>{{this.device?.idDevice}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-warning">Dispositivo</td>
                                                <td>{{this.device?.serial}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-warning">Última Atualização</td>
                                                <td>{{this.device?.dtUpdate}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-warning">Temperatura</td>
                                                <td>{{this.device?.temperatura}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-warning">Umidade</td>
                                                <td>{{this.device?.umidade}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-warning">IP</td>
                                                <td>{{this.device?.IP}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-warning">Gateway</td>
                                                <td>{{this.device?.gateway}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-warning">Porta</td>
                                                <td>{{this.device?.porta}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-warning">Tensão Entrada</td>
                                                <td>{{this.device?.tensaoEntrada}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-warning">Tensão Bateria</td>
                                                <td>{{this.device?.tensaoBateria}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-warning">Online</td>
                                                <td>{{this.device?.online}}</td>
                                            </tr>
                                            
                                            
                                        </tbody>
                                    </table>
                            
                        </div>
                    </div>
                </div>

           
      <div class="col-md-4">
            <div class="card">
                    <div class="card-header card-header-tabs card-header-warning">
                        <h4 class="card-title">Comandos</h4>
                        <p class="card-category">Comandos disponíveis para envio ao dispostitivo {{this.device?.serial.toUpperCase()}}</p>
                        </div>
                <div class="card-body">
                    <table class="table table-hover">
                                        
                        <tbody>
                            <tr class='disjuntor-td'>
                                <td class="text-warning">Disjuntor</td>
                                <td><mat-slide-toggle 
                                    [disabled] = "this.sleepDisabled"
                                    [checked]="this.selectedCommands['disjuntor'] "
                                    (change)="OnChangeSelectCommand(3)">
                                        <span *ngIf="this.selectedCommands['disjuntor']">On</span>
                                        <span *ngIf="!this.selectedCommands['disjuntor']">Off</span>
                                    </mat-slide-toggle></td>
                            </tr>
                            <tr>
                                <td class="text-warning">Desconectado</td>
                                <td><mat-slide-toggle
                                    [disabled] = "this.selectedCommands['disjuntor'] || this.selectedCommands['desconectado'] || this.sleepDisabled"
                                    [checked]="this.selectedCommands['desconectado']"
                                    (change)="OnChangeSelectCommand(0)"
                                    >
                                        <span *ngIf="this.selectedCommands['desconectado']">On</span>
                                        <span *ngIf="!this.selectedCommands['desconectado']">Off</span>
                                    </mat-slide-toggle></td>
                            </tr>
                            <tr>
                                <td class="text-warning">Teste</td>
                                <td><mat-slide-toggle
                                    [disabled] = "this.selectedCommands['disjuntor'] || this.selectedCommands['teste'] || this.sleepDisabled"
                                    [checked]="this.selectedCommands['teste']"

                                    (change)="OnChangeSelectCommand(1)">
                                        <span *ngIf="this.selectedCommands['teste']">On</span>
                                        <span *ngIf="!this.selectedCommands['teste']">Off</span>
                                    </mat-slide-toggle></td>
                            </tr>
                            <tr>
                                <td class="text-warning">Conectado</td>
                                <td><mat-slide-toggle
                                    [disabled] = "this.selectedCommands['disjuntor'] || this.selectedCommands['conectado'] || this.sleepDisabled"
                                    [checked]="this.selectedCommands['conectado']"
                                    (change)="OnChangeSelectCommand(2)">
                                        <span *ngIf="this.selectedCommands['conectado']">On</span>
                                        <span *ngIf="!this.selectedCommands['conectado']">Off</span>
                                    </mat-slide-toggle></td>
                            </tr>

                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      
  </div>
</div>
